body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: rgb(240, 240, 240);
  transition: background-color 1s ease;
  background-attachment: fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#chart-container {
  position: relative;
  width: 95vb;
  height: 95vh;
  margin: 0 auto;
  padding-top: 2vh;
}

#myDoughnutChart {
  width: 95vb;
  height: 95vh;
}

#countdown {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9vh;
}

#description {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vh;
}

#addMinute{
  position: absolute;
  top: 60%;
  font-size: 3vh;
  border-radius: 10px;
  border: 2px solid white;
  padding: 5px 10px;
  display: none;
}

#home{
  position: absolute;
  top: 60%;
  font-size: 3vh;
  border-radius: 10px;
  border: 2px solid black;
  padding: 5px 10px;
  display: none;
}

#home:hover{
  background-color: rgb(204, 204, 204);
  transition: background-color 0.3s ease;
  cursor: pointer
}

#home:active{
  background-color: rgb(153, 153, 153);
  transition: background-color 0.3s ease;
}